.select {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100vw;
  justify-content: center;
}
.select select {
  font-family: "Arial";
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0.1x solid #000000;
  border-radius: 100px;
  background: #ffffff;
  color: #8d8d8d;
  appearance: none;
  transition: 1s;
}
.select select:hover,
.select select:focus {
  border: 1px solid gray;
  color: #000000;
  background: #ffffff;
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
